#image_header {
    color: white;
    background-image: url('./reunion.jpg');
    background-size: cover;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

img {
    width: 300px;
    height: 300px;
    justify-content: space-between;
}

.container {
    padding: 100px;
    max-width: 100%;
    height: auto;
}

.container2 {
    padding: 70px;
    max-width: 100%;
    height: auto;
}

.container3 {
    padding: 70px;
}